html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #262829;
    background-color: #abb1b3;
    font-family: monospace;
}

.btn {
    background-color: #6a6e8a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
}


th {
    background-color: lightsteelblue;
    color: darkslategrey;
    font-family: monospace;
}


ul {
    
}
li a:hover {
    background-color: antiquewhite;
}


